{% extends "base.html" %}

{%block title %} Clickable Gallery {% endblock %}

{% block body %}
<h1>{{route}}</h1>
<div>{% block buttons %} {% endblock %}</div>

<style>

/* Set up columns to be next to each other */
img {
	float: left;
	width: 33.33%;
	padding: 5px;
	opacity: 0.4
}

/* Clear for the next row */
.row::after {
	content: "";
	clear: both;
	display: table;
}

/* Grayout on hover */
img:hover {
	opacity: 1;
}

</style>
<div>
	{% for r in range(0, rows) %}
	<div class="row">
	{% for col in image_names[(r*rows):((r*rows)+rows)] %}

		<a href="{{route}}/{{col}}" ><img src="{{ url_for('send_image', filename= col) }}"></a>

	{% endfor %}
	</div>
	{% endfor %}

</div>

{% endblock %}


