{% extends "base.html" %}

{%block title %} Gallery {% endblock %}

{% block body %}
<div>{% block buttons %} {% endblock %}</div>

<style>

/* Set up columns to be next to each other */
img {
	float: left;
	width: 33.33%;
	padding: 5px;
	opacity: 0.4
}

/* Clear for the next row */
.row::after {
	content: "";
	clear: both;
	display: table;
}

/* Grayout on hover */
img:hover {
	opacity: 1;
}

</style>

<div>

	<h1>Uploads:</h1>
	{% for r in range(0, rows) %}
	<div class="row">
	{% for col in image_names[(r*3):((r*3)+3)] %}
		<img src="{{ url_for('send_image', filename= col) }}" alt="Image">
		<!--<img src="{{ url_for('send_image', filename= col1) }}" alt="Image">
		<img src="{{ url_for('send_image', filename= col1) }}" alt="Image">-->
	
	{% endfor %}
	</div>
	{% endfor %}
	
	

</div>

{% endblock %}