{% extends "base.html" %}

{%block title %} Gallery {% endblock %}

{% block body %}
<div>Buttons here: {% block buttons %} {% endblock %}</div>

<style>

/* Set up columns to be next to each other */
img {
	float: left;
	width: 33.33%;
	padding: 5px;
}

/* Clear for the next row */
.row::after {
	content: "";
	clear: both;
	display: table;
}

/* Grayout on hover */
img:hover {
	opacity: 0.4;
}

</style>

<div>

	

	<h1>Uploads:</h1>

	<div class="row">
		<img src="../static/images/butler.jpg" alt="Image">
		<img src="../static/images/butler.jpg" alt="Image">
		<img src="../static/images/butler.jpg" alt="Image">
	</div>
	<div class="row">
		<img src="../static/images/butler.jpg" alt="Image">
		<img src="../static/images/butler.jpg" alt="Image">
		<img src="../static/images/butler.jpg" alt="Image">
	</div>
	<div class="row">
		<img src="../static/images/butler.jpg" alt="Image">
		<img src="../static/images/butler.jpg" alt="Image">
	</div>

</div>

{% endblock %}

<!-- {{image_names}}
	{% for image_name in images_names %}

	{{image_names}}
	{% for image_name in image_names %}

		<img src="{{ url_for('send_image', filename= image_name) }}">
	{% endfor %} -->
