<!-- index.html -->
{% extends "base.html" %}

{%block title %} Home {% endblock %}

{% block body %}

<style>

/* Make menu links bigger without affecting the links in the header */
a.menu:link {
	font-size: x-large;
}

/* Links should stay the same color even once visited */
a.menu:visited {
	color: blue;
}

</style>

<div>
	<h1>Welcome to Photo Butler!</h1>
	<img id="photo" height="200" width="120" src="static/images/butler.png"></img>
	<p><a href="gallery" class="menu">View Uploaded Images</a>
	<p><a href="highlight_faces" class="menu">Search for Faces</a>
	<p><a href="upload" class="menu">Upload an Image or Folder</a>
</div>

{% endblock %}
