{% extends "base.html" %}

{%block title %} Upload Confirmation {% endblock %}

{% block body %}

<style>

/* Make menu links bigger without affecting the links in the header */
a.options:link {
	font-size: x-large;
}

/* Links should stay the same color even once visited */
a.options:visited {
	color: blue;
}

img {
	max-width: 50%;
}

</style>


<h1>Upload Successful!</h1>

<!-- Display uploaded images -->
{{upload}}
<img src="{{ url_for("send_image", filename=upload) }}">

<h1>Options:</h1>

<!-- These will eventually link to pages -->
<p><a href="{{url_for('highlight_faces')}}" class="options">Highlight Faces</a>
<p><a href="{{url_for('scrub_person')}}" class="options">Scrub Out a Face</a>
<p><a href="{{url_for('find_person')}}" class="options">Show Faces in Photo</a>

{% endblock %}

"{{ url_for('send_image', filename= col) }}"