<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Freebie: 4 Bootstrap Gallery Templates</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
    <link rel="stylesheet" href="static/fluid-gallery.css">


</head>
<body>

<div class="container gallery-container">

    <h1>Hi Prateek! :) </h1>
    <h2> Here is your Personalized Gallery</h2>
    
    <div class="tz-gallery">

        <div class="row">

            {% for name in options %}
            <div class="col-sm-12 col-md-4">
                <a class="lightbox" href="static/{{ name }}">
                    <img src="static/{{ name }}">
                </a>
            </div>
            {% endfor %}


        </div>

    </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
<script>
    baguetteBox.run('.tz-gallery');
</script>
</body>
</html>